.DS_Store
*.o
*.so
*.elf
*.dtb
*.zip

build
releases
libretro-common

**/cores/src
**/cores/output
**/boot/output

**/other/evtest
**/other/sdl
**/other/sdl12-compat
**/other/unzip60
**/other/DinguxCommander/output
**/other/__DINGUX
**/other/_DinguxCommander

**/tmp

workspace/hash.txt
workspace/readmes

FAKESD
skeleton/BASE/Bios/GBA/gba_bios.bin
skeleton/BASE/Roms/Game Boy Advance (GBA)/castlevania_aria_of_sorrow_eur.gba
skeleton/BASE/Roms/Game Boy Advance (GBA)/Wario Ware Inc.gba
skeleton/EXTRAS/Roms/Game Boy Advance (MGBA)/Wario Ware Inc.gba
skeleton/EXTRAS/Roms/Pico-8 (P8)/194-8.p8.png
